
{% extends '_layout.html' %}
{% block stylesheet %}
p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 20px;
}
h5{
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 20px;
}
   
{% endblock %}



<!--CONTENTS-->
{% block content %}
      <div class="content">
          <div class="container-fluid">
              <div class="row">
        <div class="col-sm-12">  
        <div class="card" style="margin-top: -30px;">
          <div class="card-header card-header-primary">
            <h4 class="card-title" style="background-image: linear-gradient(to right, #15c3df, #3ec9ae,#4bca9c,#57cc8e);padding: 10px;">Prowesstics Leave Policy</h4>
          </div>
          <p>1. An Employee in Prowesstics can avail of 9 sick leaves and 9 casual leaves per year</p>

          <p>Sick leaves can be applied after he /she back to works</p>
          <p>Casual leaves need prior Approval</p>
          
          <p>2. If an employee is taking more than 3 days of leaves must submit the medical certificate </p>
          <p>2. Apart from sick leaves and casual leaves an employee can avail of two Optional holidays per year( They can choose 2 from 4. Refer:Holiday List).
            If he / she is not opting for any optional holidays throughout the year, it will get elapsed and it will not be compensated.</p>

          <p>3. An Employee wants to take leaves that beyond his/her leave limit that leaves will be considered as paid leave(LOP). LOP days will be calculated and will be reduced from the salary at the end of the year. (In December month salary) </p>
          <p>4. An Employee who worked on weekends / during holidays can take compension leaves after getting proper Approval.</p>
          <p>5. An Employee who works for a year without taking any leave, then he/ she can redeem the leaves and that amount will be credited along with the December month salary. Calculation will be no of leaves left * 1 day salary.</p>

          <h5>Note:</h5>
          
          <p>We are following Jan to Dec calendar</p>
          <p>Each leave request should be approved by your Managers at first level and by the HR at the second Level</p>
          <p>Approval of leaves depends on your Manager's decision based on your project's criticality.</p>
                        
            </div> 
        </div>
        </div>
      </div>
      
{% endblock %}