{% load static %}

{% load humanize %}

<!doctype html>
<html lang="en">
<head>

    <title>Dashboard - Prowesstics | {% block title %} {{ title }} {% endblock %}</title>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <!-- Meta -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="Sidebar">
      <meta name="keywords" content=" ">
      <meta name="author" content="Prowesstics admin">
      <!-- Favicon icon -->
      <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="{% static 'new_dashboard/css/bootstrap/css/bootstrap.min.css' %}">
      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href="{% static 'new_dashboard/icon/themify-icons/themify-icons.css' %}">
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="{% static 'new_dashboard/icon/icofont/css/icofont.css' %}">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="{% static 'new_dashboard/css/style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'new_dashboard/css/jquery.mCustomScrollbar.css' %}">


</head>
<body>

<style>
   @media only screen and (max-width: 990px) {
   #mobile-collapse {
    display: block !important;
  }
}
  @media only screen and (max-width: 990px) {
   .user-profile {
    background: #15192B !important;
  }
}
    #mobile-collapse {
    display: none;
  }
</style>

<!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">

                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu visible-xs" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
<!--                        <a class="mobile-search morphsearch-search" href="#">-->
<!--                            <i class="ti-search"></i>-->
<!--                        </a>-->
                        <a href="/">
                            <img class="img-fluid new-logo" style="max-width: 80% !important;" width="200px" src="{% static 'new_dashboard/images/auth/prowesstics_org.png' %}" alt="Prowesstics-Logo" />
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>
                        </ul>
                        <ul class="nav-right">
<!--                            <li class="header-notification">-->
<!--                                <a>-->
<!--                                    <i class="ti-bell"></i>-->
<!--                                </a>-->
<!--                                <ul class="show-notification">-->
<!--                                    <li>-->
<!--                                        <h6>Notifications</h6>-->
<!--                                        <label class="label label-danger">New</label>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <div class="media">-->
<!--                                            <img class="d-flex align-self-center img-radius" src="{% static 'new_dashboard/images/avatar-4.jpg' %}" alt="Generic placeholder image">-->
<!--                                            <div class="media-body">-->
<!--                                                <h5 class="notification-user">John Doe</h5>-->
<!--                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>-->
<!--                                                <span class="notification-time">30 minutes ago</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <div class="media">-->
<!--                                            <img class="d-flex align-self-center img-radius" src="{% static 'new_dashboard/images/avatar-3.jpg' %}" alt="Generic placeholder image">-->
<!--                                            <div class="media-body">-->
<!--                                                <h5 class="notification-user">Joseph William</h5>-->
<!--                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>-->
<!--                                                <span class="notification-time">30 minutes ago</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <div class="media">-->
<!--                                            <img class="d-flex align-self-center img-radius" src="{% static 'new_dashboard/images/avatar-4.jpg' %}" alt="Generic placeholder image">-->
<!--                                            <div class="media-body">-->
<!--                                                <h5 class="notification-user">Sara Soudein</h5>-->
<!--                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>-->
<!--                                                <span class="notification-time">30 minutes ago</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
                            <li class="user-profile header-notification">
                                <a>
                                 {% if request.user.profile_pic %}
                                      <img style="max-width: 210px;border-radius: 20px !important;" class="rounded img-responsive center-block" src="{{ request.user.profile_pic.url }}">
                                    {% else %}
                                    <img src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x"class="img-radius" style="border-radius: 20px;" alt="User-Profile-Image">
                                    {% endif %}
                                    <span>{{ request.user}}</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification" style="font-size: 14px;">
                                    {% if request.user.is_authenticated %}
                                <li><a href="{% url 'user_logout' %}"><i class="ti-layout-sidebar-left"></i>Logout</a></li>
                                {% else %}
                                <li><a href=""><i class="ti-arrow-circle-right"></i>Login</a></li>
                                {% endif %}
<!--                                <li><a href="{% url 'change_password' %}"><i class="ti-key"></i>Change Password</a></li>-->


                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a href="#"><i class="ti-user"></i>View Profile</a>
                                            <a href="#!"><i class="ti-settings"></i>Settings</a>
                                            <a href="auth-normal-sign-in.html"><i class="ti-layout-sidebar-left"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation"></div>

                             {% if request.user.is_authenticated %}
                             {% if request.user.role == 'HR' %}

                            <ul id="NavTabs" class="pcoded-item pcoded-left-item">
                                <li>
                                    <a href="{% url 'pay_dashboard' %}">
                                        <span class="pcoded-micon"><i class="ti-bar-chart-alt"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'pay_sliphr' %}">
                                        <span class="pcoded-micon"><i class="ti-pencil-alt"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Pay Slip Updation</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'form16_update' %}">
                                        <span class="pcoded-micon"><i class="ti-write"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Form 16 Updation</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'pay_slip_gen' %}">
                                        <span class="pcoded-micon"><i class="ti-receipt"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Pay Slip Generation</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'pay_slip' %}">
                                        <span class="pcoded-micon"><i class="ti-agenda"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Pay Slips</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'form16' %}">
                                        <span class="pcoded-micon"><i class="ti-layout"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Form 16</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'hr_policy' %}">
                                        <span class="pcoded-micon"><i class="ti-notepad"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">HR policy</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'user_login' %}">
                                        <span class="pcoded-micon"><i class="ti-bookmark-alt"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Employee Self Service</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>

                             {% endif %}
                {% if request.user.role == 'EMPLOYEE' or request.user.role == 'MANAGER' %}

                            <ul id="NavTabs" class="pcoded-item pcoded-left-item">
                                <li>
                                    <a href="{% url 'pay_dashboard' %}">
                                        <span class="pcoded-micon"><i class="ti-bar-chart-alt"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'pay_slip' %}">
                                        <span class="pcoded-micon"><i class="ti-agenda"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Pay Slips</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'form16' %}">
                                        <span class="pcoded-micon"><i class="ti-layout"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Form 16</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'hr_policy' %}">
                                        <span class="pcoded-micon"><i class="ti-notepad"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">HR policy</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'user_login' %}">
                                        <span class="pcoded-micon"><i class="ti-bookmark-alt"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Employee Self Service</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                            {% endif %}
                {% if request.user.role == 'CEO' %}

                            <ul id="NavTabs" class="pcoded-item pcoded-left-item">
                                <li>
                                    <a href="{% url 'allemployees' %}">
                                        <span class="pcoded-micon"><i class="ti-user"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'hr_policy' %}">
                                        <span class="pcoded-micon"><i class="ti-notepad"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">HR policy</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'user_login' %}">
                                        <span class="pcoded-micon"><i class="ti-bookmark-alt"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Employee Self Service</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>

                            {% endif %}

                            {% endif %}

<!--                            <ul class="pcoded-item pcoded-left-item">-->
<!--                                <li>-->
<!--                                    <a href="{% url 'hr_timesheet_dashbord' %}">-->
<!--                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>-->
<!--                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">EMPLOYEE DASHBOARD</span>-->
<!--                                        <span class="pcoded-mcaret"></span>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="">-->
<!--                                    <a href="{% url 'notification' %}">-->
<!--                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>-->
<!--                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">NOTIFICATION</span>-->
<!--                                        <span class="pcoded-mcaret"></span>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="">-->
<!--                                    <a href="{% url 'user_login' %}">-->
<!--                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>-->
<!--                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">EMPLOYEE SELF SERVICE</span>-->
<!--                                        <span class="pcoded-mcaret"></span>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        {% block content %}
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>


<script type="text/javascript" src="{% static 'new_dashboard/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'new_dashboard/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'new_dashboard/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'new_dashboard/js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'new_dashboard/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'new_dashboard/js/modernizr/modernizr.js' %}"></script>
<!-- am chart -->
<script src="{% static 'new_dashboard/pages/widget/amchart/amcharts.min.js' %}"></script>
<script src="{% static 'new_dashboard/pages/widget/amchart/serial.min.js' %}"></script>
<!-- Todo js -->
<script type="text/javascript " src="{% static 'new_dashboard/pages/todo/todo.js' %}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{% static 'new_dashboard/pages/dashboard/custom-dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'new_dashboard/js/script.js' %}"></script>
<script type="text/javascript " src="{% static 'new_dashboard/js/SmoothScroll.js' %}"></script>
<script src="{% static 'new_dashboard/js/pcoded.min.js' %}"></script>
<script src="{% static 'new_dashboard/js/demo-12.js' %}"></script>
<script src="{% static 'new_dashboard/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

<script>
    $( document ).ready(function() {
         var currentUrl = "{{ request.path_info }}"
         var tab = document.getElementById("NavTabs");
         //console.log("tab", [tab])
         //tab.children[2].classList.add("dummy");
         Array.from(tab.children).forEach(liTag => {
            console.log("liTag", liTag.innerHTML)
            if (liTag.innerHTML.includes(currentUrl)){
                liTag.classList.add("active")
            }else{
                liTag.classList.remove("active")
            }
         })
    });
</script>
  {% load sweetify %}
{% sweetify %}
</body>


</html>
