{% load static %}
<style>
    .sec-box {
        height: 160px;
        max-width: 100%;
        line-height: 160px;
        text-align: center;
        position: relative;

        font-size: 1.9rem;

        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        transition: all 400ms ease-in;

        font-variant: petite-caps;
    }

    .sec-box a {
        color: #fff;
        text-decoration: none;

    }


    .employee-box {
        background: #fff;
        border-radius: 10px;
    }

    .employee-box a {
        color: #000 !important;
        font-family: "Times New Roman", Times, serif;
    }

    .leave-box {
        background: #fff;
        border-radius: 10px;

    }

    .leave-box a {
        color: #000 !important;
        font-family: "Times New Roman", Times, serif;
    }

    .lop-box {
        background: #fff;
    }

    .lop-box a {
        color: #000 !important;
        font-family: "Times New Roman", Times, serif;
    }


    .birthday-box {
        background: #8664ad;
    }

    .company-box {
        background: #868686;
    }


    .count-object {
        position: absolute;
        top: 40%;
        right: 12px;
        font-size: 29px;
        font-weight: 100;
        font-variant: petite-caps;
        color: #f5f5f5;
        text-shadow: 1px 1px rgba(8, 8, 8, 0.23);
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 10px;

    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .lable1 {
        margin: 30px 0px 0px 150px;
        font-size: 20px;
    }

    .lable2 {
        margin: 20px 0px 0px 0px;
        font-size: 20px;
    }

    .alignleft {
        float: left;
    }

    .alignright {
        float: left;
    }

    .salary-slip {
    / / margin: 15 px;
        margin: 32px 0px 0px 0px;
    }

    .empDetail {
        width: 100%;
        text-align: left;
        border: 2px solid black;
        border-collapse: collapse;
        table-layout: fixed;
    }

    .head {
        margin: 10px;
        margin-bottom: 50px;
        width: 100%;
    }

    .companyName {
        text-align: right;
        font-size: 25px;
        font-weight: bold;
    }

    .salaryMonth {
        text-align: center;
    }

    .table-border-bottom {
        border-bottom: 1px solid;
    }

    .table-border-right {
        border-right: 1px solid;
    }

    .myBackground {
        padding-top: 10px;
        text-align: left;
        border: 1px solid black;
        height: 40px;
    }

    .myAlign {
        text-align: center;
        border-right: 1px solid black;
    }

    .myTotalBackground {
        padding-top: 10px;
        text-align: left;
        background-color: #EBF1DE;
        border-spacing: 0px;
    }

    .align-4 {
        width: 25%;
        float: left;
    }

    .tail {
        margin-top: 35px;
    }

    .align-2 {
        margin-top: 25px;
        width: 50%;
        float: left;
    }

    .border-center {
        text-align: center;
    }

    .border-center th, .border-center td {
        border: 1px solid black;
    }

    th, td {
        padding-left: 6px;
    }

    th {
    / / text-align: end;
    }


    }
    .g{
        font-size: 25px;
    }
</style>
<div class="salary-slip">
    <table class="empDetail">
        <!--<tr height="100px" style='background-color: #c2d69b'>
          <td colspan='4'>
            <img height="90px" src='https://organisationmedia.toggleflow.com/demo/logo.png' /></td>
          <td colspan='4' class="companyName"> Co-Operative Bank Ltd.</td>
        </tr>-->

        <tbody class="border-center">
<!--<th colspan="8" style="text-align: center;background-color: #7EB5E2;font-size: 25px;">Prowesstics IT Services Pvt.Ltd </th>-->

        <tr height="">
          <th colspan="8" style="text-align: center;background-color: #7EB5E2;font-size: 25px;">Prowesstics IT Services Pvt.Ltd </th>
            <td colspan="4" style="    border: 0px solid black;">
                <!--<img height="90px" src='https://organisationmedia.toggleflow.com/demo/logo.png' />-->
                <img style="height: 60px; width: 155px;margin-left: -9px;"
                     src="{% static 'images/logo/prowesstics.png' %}">
            </td>

        </tr>
        <tr>
            <th colspan="8" style="text-align: center;"> Employee Pay Slip</th>
            <td colspan="4" style="border: 0px solid black;"></td>

        </tr>
        <tr>
            <th colspan="8" style="text-align: center;">{{ payslip.month }} - {{ payslip.year }}</th>
            <td colspan="4" style="    border: 0px solid black;"></td>
        </tr>
        <tr>
            <th colspan="12" style="text-align: left;">Employee Details</th>


        </tr>

        </tbody>

        <tbody class="border-center">
        <tr>
                  <th colspan="4" style="text-align: end;">Bank : </th>
                    {% if payslip.bank != 'None' %}
                     <td colspan="8">{{payslip.bank}}</td>
                    {% else %}
                     <td colspan="8"> - </td>
                    {% endif %}

                </tr >

       <tr>
                  <th colspan="4" style="text-align: end;">Bank Account No :</th>
                    {% if payslip.acc_no != 'None' %}
                  <th colspan="8"> {{payslip.acc_no}}</th>
                    {% else %}
                  <th colspan="8"> - </th>
                    {% endif %}
                </tr >

<!--                <tr>-->
<!--                  <th colspan="4" style="text-align: end;">Name:</th>-->
<!--                  <th colspan="8">{{ payslip.employee_name }}</th>-->


<!--                </tr >-->
        <tr>
            <th colspan="4" style="text-align: end;">Name:</th>
            <td colspan="8">{{ payslip.employee_name }}</td>


        </tr>
        <tr>
            <th colspan="4" style="text-align: end;">Designation:</th>
            <td colspan="8">{{ payslip.employee_designation }}</td>
        </tr>
        <tr>
            <th colspan="4" style="text-align: end;">Employee id no:</th>
            <td colspan="4">{{ payslip.employee_id }}</td>
        </tr>
        <tr>
            <th colspan="12" style="text-align: center;"> Pay slip Details</th>

        </tr>
        <tr style="background-color: #7EB5E2;">
            <th colspan="3" style="">Pay Head Group</th>
            <th colspan="3" style="text-align: center;">Pay Head</th>
            <th colspan="3" style="">Amount</th>
            <th colspan="3" style="">YTD</th>

        </tr>
        <tr>
            <th colspan="3"></th>
            <th colspan="3">Basic Salary</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.m_basic_salary }} </th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.basic_salary }}</th>

        </tr>
        <tr>
            <th colspan="3"></th>
            <th colspan="3">HRA Allowance</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.m_hra_allowance }}</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.hra_allowance }}</th>

        </tr>
        <tr>
            <th colspan="3"></th>
            <th colspan="3">Conv.Allowance</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.m_conv_allowance }}</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.conv_allowance }}</th>

        </tr>
        <tr>
            <th colspan="3"></th>
            <th colspan="3">City Compensatory Allowance</th>
            <th colspan="3" style="text-align: end;">-</th>
            <th colspan="3" style="text-align: end;">-</th>

        </tr>
        <tr>
            <th colspan="3"></th>
            <th colspan="3">Others</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.m_other_allowance }}</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.other_allowance }}</th>

        </tr>
        <tr>
            <th colspan="3"></th>
            <th colspan="3">Spl Allowance</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.m_spl_allowance }}</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.spl_allowance }}</th>
        </tr>
        <tr style="background-color: #7EB5E2;">
            <th colspan="3"></th>
            <th colspan="3">Total Earnings</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.m_total_earnings }}</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.total_earnings }}</th>
        </tr>
        <tr>
            <th colspan="3">Deductions</th>
            <th colspan="3">Provident fund</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.m_provident_fund }}</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.provident_fund }}</th>
        </tr>
        <tr>
            <th colspan="3"></th>
            <th colspan="3">Other Deductions</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.m_other_deduction }}</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.other_deduction }}</th>
        </tr>
        <tr>
            <th colspan="3"></th>
            <th colspan="3">Income Tax</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.income_tax }}</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.income_tax }}</th>
        </tr>
        <tr>
            <th colspan="3"></th>
            <th colspan="3">Professional Tax</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.pro_tax }}</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.pro_tax }}</th>
        </tr>
        <tr style="background-color: #7EB5E2;">
            <th colspan="3"></th>
            <th colspan="3">Total Deductions</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.m_total_deduction }}</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.total_deduction }}</th>
        </tr>

        <tr>
            <th colspan="3">Net Amount</th>
            <th colspan="3"></th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.m_net_amt }}</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.net_amt }}</th>
        </tr>
        <tr>
            <th colspan="3">Salary (CTC)/ PM</th>
            <th colspan="3">₹ {{ payslip.sal_ctc_pm }}</th>
            <th colspan="3" style="text-align: end;">Gross Salary</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.sal_ctc_pm }}</th>
        </tr>
        <tr>
            <th colspan="3">Salary (CTC)/ PA</th>
            <th colspan="3">₹ {{ payslip.sal_ctc_pa }}</th>
            <th colspan="3" style="text-align: end;">Net Salary</th>
            <th colspan="3" style="text-align: end;">₹ {{ payslip.sal_ctc_pa }}</th>
        </tr>


        </tbody>


    </table>
    <h5 style="font-weight: bold">System generated payslip no signature required</h5>

</div>